body {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
    /* background: linear-gradient( 109.6deg,  rgba(218,185,252,1) 11.2%, rgba(125,89,252,1) 91.1% ); */
    background: linear-gradient(to right, #ad5389, #3c1053);
}

.landing { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 5px !important;
    background-color: #fff8f8;
    padding: 15px;
    width: 50%;
}

/* .info-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.title {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
    margin: 0;
}

.description {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
    margin: 0;
}

.generate-btn {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 5px !important;
    margin-top: 20px;
}

form {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
}

/* #input-modal {
    top: 15% !important;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
}

#form-main-header {
    border-bottom: 2px solid lightgray;
    padding-bottom: 5px;
}

.form-section-header {
    margin: 20px 0 10px 0 !important;
}

input, select {
    border-radius: 5px !important;
}

/* .movie-title {
    font-size: 1.5rem;
}

.card-section {
    font-size: 1.2rem;
} */

/* .overview {
    max-height: 80px;
    overflow: scroll;
} */

.movies-header {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    z-index: 1;
}

.card {
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

}

@media screen and (max-width: 1300px) {
    
    .overview {
        max-height: 50px;
        overflow: scroll;
    }

}

@media screen and (max-width: 1200px) {
    
    .overview {
        max-height: 30px;
        overflow: scroll;
    }

}

@media screen and (max-width: 1020px) {
    
    .overview {
        max-height: 80px;
        overflow: scroll;
    }

}

@media screen and (max-width: 750px) {
    
    .overview {
        max-height: 40px;
        overflow: scroll;
    }

}

@media screen and (max-width: 640px) {
    
    .overview {
        max-height: 200px;
        overflow: scroll;
    }

}