body {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
    /* background: linear-gradient( 109.6deg,  rgba(218,185,252,1) 11.2%, rgba(125,89,252,1) 91.1% ); */
    /* background: linear-gradient(to right, #ad5389, #3c1053); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/night-sky.jpg"); /* The image used */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.landing { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 5px !important;
    background-color: #fff8f8;
    padding: 15px;
    width: 50%;
}

.title {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
    margin: 0;
}

.description {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
    margin: 0;
}

.generate-btn {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    margin-top: 20px;
}

.button {
    border-radius: 10px !important;
}

form {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
}

/* #input-modal {
    top: 15% !important;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', 'Noto Sans', Arial, sans-serif !important;
}

.reveal {
    border-radius: 15px !important;
}

.form-main-header {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.form-section-header {
    margin: 20px 0 10px 0 !important;
}

.restaurant-title {
    text-align: center !important;
    width: 100%;
}

.slider-handle {
    border-radius: 20px !important;
}

.movies-header, .food-header {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    z-index: 1;
}

.footer {
    color: white;
    box-shadow: 0px -5px 21px 6px rgba(0, 0, 0, 0.2), 0px -5px 21px 6px rgba(0, 0, 0, 0.19) !important;
    z-index: 1;
}

.card {
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

}

input, select {
    border-radius: 50px !important;
}

li {
    color:white !important;
    padding: 10px;
    transition: color 0.5s ease, background 0.5s ease;
}

li:not([disabled]):hover {
    color: black !important;
    background: white;
    cursor: pointer;
}

[disabled] {
    color: lightgray !important;
    cursor: not-allowed;
}

nav {
    padding-top: 14px;
}

.card-divider {
    background-color: rgb(56, 56, 56) !important;
    color: white !important;
}

@media screen and (max-width: 1300px) {
    
    .overview {
        max-height: 50px;
        overflow: scroll;
    }

}

@media screen and (max-width: 1200px) {
    
    .overview {
        max-height: 30px;
    }

}

@media screen and (max-width: 1020px) {
    
    .overview {
        max-height: 80px;
    }

}

@media screen and (max-width: 750px) {
    
    .overview {
        max-height: 40px;
    }

}

@media screen and (max-width: 640px) {
    
    .overview {
        max-height: 200px;
    }

    .food-header {
        text-align: center;
    }

}